{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="form-box">
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <i class="fas fa-lock"></i>
            <input type="password" name="old_password" placeholder="Current password" required>
        </div>
        <div class="form-group">
            <i class="fas fa-lock"></i>
            <input type="password" name="new_password1" placeholder="New password" required>
        </div>
        <div class="form-group">
            <i class="fas fa-lock"></i>
            <input type="password" name="new_password2" placeholder="Confirm new password" required>
        </div>
        <button type="submit" class="register-btn">Change Password</button>
    </form>
    <p class="member-text">Don't want to change password <a href="{% url 'profile'%}">Profile</a></p>
</div>
<!-- <div class="image-box">
    <img src="{% static 'accounts/images/changepassword.gif' %} " alt="Desk Image">
</div> -->
{% endblock %}