{% extends 'base.html' %}
{% load static %}

{% block content %}     
<div class="form-box">
    <h2>Forgot Your Password</h2>
    <form method="post">
        {% csrf_token %}
        <p>Please enter the email address you'd like your password reset information sent to </p>
        <div class="form-group">
            <!-- <label for="id_email" class="sr-only">Email</label> -->
            <i class="fas fa-envelope "></i>
            <input type="email" name="email" id="id_email" class="form-control" placeholder="Enter Email" autocomplete="email">
        </div>
        <button type="submit" class="register-btn">Request reset link</button>
    </form>
    <p class="member-text">Back to  <a href="{% url 'login'%}">Login</a></p>
</div>
<!-- <div class="image-box">
    <img src="{% static 'accounts/images/forgotpassword.gif'%}" alt="Desk Image">
</div> -->
{% endblock %}
