{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="form-box">
    {% if token_valid %}
        <h2>Reset Your Password</h2>
        <form method="post">
            {% csrf_token %}
            <p>Strong passwords include numbers, letters, and punctuation marks.</p>
        <div class="form-group">
            <i class="fas fa-lock"></i>
            <input type="password" name="new_password" class="form-control" placeholder="Enter new password" required>
        </div>
        <div class="form-group">
            <i class="fas fa-lock"></i>
            <input type="password" name="reconfirm_password" class="form-control" placeholder="Confirm new password" required>
        </div>
        <input type="hidden" name="user_id" value="{{ user_id }}"> 
        <button type="submit" class="register-btn">Reset Password</button>
    </form>
    {% else %}
        <h2>Reset Password Link Invalid</h2>
        <p>This password reset link is invalid or has already been used. Please request a new password reset.</p>
    {% endif %}
</div>
<div class="image-box">
    <img src="{% static 'accounts/images/resetpassword.gif'%}" alt="Desk Image">
</div>
{% endblock %}
