{% extends 'base_main.html' %}
{% load static %}

{% block content %}
		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="{% url 'home'%}"><img src="{% static 'images/logo/CaneCrush White and Yellow Logo.svg'%}" style="width: 200px; height: 40px;"></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item ">
							<a class="nav-link" href="{% url 'home'%}">Home</a>
						</li>
						<li><a class="nav-link" href="{% url 'products' %}">Shop</a></li>
						<li class="active"><a class="nav-link" href="{% url 'about'%}">About us</a></li>
						<li><a class="nav-link" href="{% url 'blog'%}">Blog</a></li>
						<li><a class="nav-link" href="{% url 'contact_us' %}">Contact us</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li>
							{% if request.user.is_authenticated %}
							  <a class="nav-link" href="{% url 'profile' %}">
								<img src="{% static 'images/user.svg' %}" alt="Profile">
							  </a>
							{% else %}
							  <a class="nav-link" href="{% url 'login' %}">
								<img src="{% static 'images/user.svg' %}" alt="Login">
							  </a>
							{% endif %}
						  </li>
                		<li><a class="nav-link" href="{% url 'cart' %}"><img src='{% static "images/cart.svg" %}'></a></li>
					</ul>
				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
                <img src="{% static 'images/collect_images/about-desktop.png' %}" class="hero-image">
                <!-- <img src="{% static 'images/Untitled design.jpg'%}" class="img-fluid"> -->
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>About Us</h1>
								<p class="mb-4">Welcome to CaneCrush, your trusted source for organic jaggery and natural sugar. Our mission is to bring you the purest, healthiest sweeteners, crafted through sustainable practices and traditional methods. From the lush sugarcane fields to your table, we ensure every step of our process maintains the highest standards of quality and care. Join us on a journey towards a healthier lifestyle with the natural sweetness of CaneCrush.
                                </p>
								<p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
							</div>
						</div>
						<!-- <div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="{% static 'images/Untitled_design__3_-removebg-preview.png'%}" class="img-fluid bottom-img">
							</div>
						</div> -->
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		


		<!-- Start Team Section -->
		<div class="untree_co-section">
			<div class="container">

				<div class="row mb-5">
					<div class="col-lg-5 mx-auto text-center">
						<h2 class="section-title">Our Team</h2>
					</div>
				</div>

				<div class="row">
					<!-- Start Column 1 -->
					<div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-0">
						<img src="{% static 'images/person_1.jpg'%}" class="img-fluid mb-5">
						<h3 clas><span class="">Mitanshu </span> Ajudiya</h3>
            <span class="d-block position mb-4">CFO, Co-Founder , Canecrush.</span>
            <p>Mitanshu Ajudiya, CFO and Co-Founder of Canecrush, drives financial strategy and innovation. His leadership fosters growth and sustainability in the company's operations and market presence.</p>
					</div> 
					<!-- End Column 1 -->
					<!-- Start Column 2 -->
					<div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-0">
						<img src="{% static 'images/person_2.jpg'%}" class="img-fluid mb-5">

						<h3 clas><span class="">Ronak </span> Rayani</h3>
            <span class="d-block position mb-4">CEO, Co-Founder , Canecrush.</span>
            <p>Ronak Rayani leads CaneCrush with a passion for organic products and a commitment to delivering exceptional quality and health benefits to our customers.</p>
					</div> 
					<!-- End Column 2 -->
					<!-- Start Column 3 -->
					<div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-0">
						<img src="{% static 'images/person_3.jpg'%}" class="img-fluid mb-5">
						<h3 clas><span class="">Akshay</span> Bhanderi</h3>
            <span class="d-block position mb-4">CTO, Co-Founder , Canecrush.</span>
            <p>Akshay Bhanderi drives technological innovation at CaneCrush, ensuring seamless integration of modern techniques to produce the finest organic jaggery and natural sugar.</p>
					</div> 
				</div>
			</div>
		</div>
		<!-- End Team Section -->

{% endblock %}
