{% extends 'base_main.html' %}
{% load static %}

{% block content %}
<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo/CaneCrush White and Yellow Logo.svg'%}" style="width: 200px; height: 40px;"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
                aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li><a class="nav-link" href="{% url 'products' %}">Shop</a></li>
                <li><a class="nav-link" href="{% url 'about'%}">About us</a></li>
                <li><a class="nav-link" href="{% url 'blog'%}">Blog</a></li>
                <li><a class="nav-link" href="{% url 'contact_us' %}">Contact us</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li>
                    {% if request.user.is_authenticated %}
                      <a class="nav-link" href="{% url 'profile' %}">
                        <img src="{% static 'images/user.svg' %}" alt="Profile">
                      </a>
                    {% else %}
                      <a class="nav-link" href="{% url 'login' %}">
                        <img src="{% static 'images/user.svg' %}" alt="Login">
                      </a>
                    {% endif %}
                  </li>
                <li><a class="nav-link" href="{% url 'cart' %}"><img src='{% static "images/cart.svg" %}'></a></li>
            </ul>
        </div>
    </div>

</nav>
<!-- End Header/Navigation -->

<!-- Start Product Detail Section -->
<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="item active">
                    <img src="{{product.main_image.url}}" id="main-image"  class="main-image">
                </div>
                <div class="mini-images">
                    <img src="{{product.image_1.url}}" class="mini-image" data-id="1">
                    <img src="{{product.image_2.url}}" class="mini-image" data-id="2">
                    <img src="{{product.image_3.url}}" class="mini-image" data-id="3">
                    <!-- Add more mini images as needed -->
                </div>
                <div class="woocommerce-tabs wc-tabs-wrapper product-tab-review">
   
                    <ul class="tabs wc-tabs" role="tablist">
                                        <li class="reviews_tab active" id="tab-title-reviews" role="tab" aria-controls="tab-reviews">
                                <a href="#tab-reviews" class="homeSection-title">
                                    Reviews (1)					</a>
                            </li>
                                </ul>
                <div class="container">
                                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content wc-tab" id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews" style="">
                            <div id="reviews" class="woocommerce-Reviews">
                <div id="comments">
                    <h2 class="woocommerce-Reviews-title">
                        1 review for <span>Organic Bajra Flour</span>		</h2>
            <!--start-top-review-section-->
            <div class="review-container">
                <div class="review-header">
                    <div class="f-24 fw-semibold mb-2">Customer Reviews</div>
                    <div class="dflex justify-content-between">
                        <ul class="base-on-rating mb-0">
                            <li>
                                <div class="ase-on-rating-stars">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"></path></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"></path></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"></path></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"></path></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"></path></svg>
                                </div>
                            </li>
                            <li class="f-12"> Based on 1 reviews</li>
                        </ul>
                        <button class="f-12 text-decoration-underline review-toggle" id="review-toggle-btn">Write a review</button>
                    </div>
                </div>
            <div class="review-box">
                <!-- form -->
                <!-- review -->
            </div>
            </div>
            <!---close-tope-review-section-->
            
            
            <!--review-form-start-->
                    <div id="review_form_wrapper">
                        <div id="review_form">
                                <div id="respond" class="comment-respond">
                    <span id="reply-title" class="comment-reply-title">Add a review <small><a rel="nofollow" id="cancel-comment-reply-link" href="/product/organic-bajra-flour/#respond" style="display:none;">Cancel reply</a></small></span><form action="https://www.truestoryorganics.com/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate=""><p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> <span class="required-field-message">Required fields are marked <span class="required">*</span></span></p><div class="user-review-email"><p class="comment-form-author"><label for="author">Name&nbsp;<span class="required">*</span></label><input id="author" name="author" type="text" value="" size="30" required=""></p><p class="comment-form-email"><label for="email">Email&nbsp;<span class="required">*</span></label><input id="email" name="email" type="email" value="" size="30" required=""></p></div>
            <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes"> <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label></p>
            <div class="comment-form-rating"><label for="rating">Your rating</label><p class="stars">						<span>							<a class="star-1" href="#">1</a>							<a class="star-2" href="#">2</a>							<a class="star-3" href="#">3</a>							<a class="star-4" href="#">4</a>							<a class="star-5" href="#">5</a>						</span>					</p><select name="rating" id="rating" required="" style="display: none;">
                                    <option value="">Rate…</option>
                                    <option value="5">Perfect</option>
                                    <option value="4">Good</option>
                                    <option value="3">Average</option>
                                    <option value="2">Not that bad</option>
                                    <option value="1">Very poor</option>
                                </select></div><p class="comment-form-comment"><label for="comment">Your review&nbsp;<span class="required">*</span></label><textarea id="comment" name="comment" cols="45" rows="8" required=""></textarea></p><p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Submit"> <input type="hidden" name="comment_post_ID" value="870" id="comment_post_ID">
            <input type="hidden" name="comment_parent" id="comment_parent" value="0">
            <input type="reset" name="Cancel" id="Cancel" class="submit" value="Cancel"></p></form>	</div><!-- #respond -->
                            </div>
                    </div>
                
            <!--review-form-end-->
            
            
                                <ol class="commentlist">
                            <li class="review even thread-even depth-1" id="li-comment-458">
            
                <div id="comment-458" class="comment_container">
            
                    <img alt="" src="https://secure.gravatar.com/avatar/0066727b44dc500003de7e83d2e7efbf?s=60&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/0066727b44dc500003de7e83d2e7efbf?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60" loading="lazy" decoding="async">
                    <div class="comment-text">
            
                        <div class="ais-rating-name">
                <p class="meta">
                    <strong class="woocommerce-review__author">Shubh Pandit </strong>
                            <span class="woocommerce-review__dash">–</span> <time class="woocommerce-review__published-date" datetime="2024-05-24T06:48:48+00:00">May 24, 2024</time>
                    
                </p>
                <div class="star-rating" role="img" aria-label="Rated 5 out of 5"><span style="width:100%">Rated <strong class="rating">5</strong> out of 5</span></div></div>
            
                <div class="star-rating" role="img" aria-label="Rated 5 out of 5"><span style="width:100%">Rated <strong class="rating">5</strong> out of 5</span></div><div class="description"><p>I liked it and also got fast delivery, will buy again this organic bajra flour</p>
            </div>
                    </div>
                </div></li><!-- #comment-## -->
                        </ol>
            
                                    </div>
            
                
            
                <div class="clear"></div>
            </div>
                        </div>
                    
                        </div>
              </div>
            </div>
            <div class="col-lg-6">
                 <form method="POST" id="pack-size-form">
                      {% csrf_token %}
                <div class="product-detail">
                    <h2>{{ product.name.title }}</h2>
                    <input type="hidden" id="selected-product-name" name="selected_product_name" value="{{ product.name }}">
                    <div class="subtitle light-geay"> Organic | Chemical-Free | Eco-friendly</div>
                    <div class="woocommerce-product-rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>
                    <hr>
                    <div class="single-pr-price price">
                        <div class="a-section a-spacing-none aok-align-center aok-relative"><span aria-hidden="true" class="a-size-large a-color-price savingPriceOverride aok-align-center reinventPriceSavingsPercentageMargin savingsPercentage"> -{{product.discount_percentage}}%</span>
                            <span class="currency_symb">₹</span>
                            <span class="a-price-whole">{{product.get_discounted_price}}</span>
                            <input type="hidden" id="selected-discounted-price" name="selected_discounted_price" value="{{product.get_discounted_price}}">
                        </div>
                        <div class="product-mrp"><span class="mrp-label">M.R.P.:</span>
                            <del>₹{{product.original_price }}</del>
                             <input type="hidden" id="selected-original-price" name="selected_original_price" value="{{ product.original_price }}">
                        </div>
                        <span class="f-14"> Inclusive of all taxes</span></div>
                    <br>
                    <div class="product_meta">

                            <span class="sku_wrapper">
                            <span class="meta-label"> Pack Size : </span>
                                <input type="hidden" id="selected-pack-size" name="selected_pack_size" value="">
                            {% for pack in ordered_pack_sizes %}
                            <span class="packsize" onclick="updateSelectedPackSize('{{ pack }}')">{{ pack }}</span>
                            {% endfor %}
                            </span>
                            <div class="qun-wrapper addsingle-product d-flex">
                                <button type="submit" data-product-quantity="1" data-product-id="870"
                                        class="primary-btn add-first-button cart-button d-block lazyloaded"><span
                                        class="add-to-cart">Add to Cart</span><i class="fa fa-shopping-cart"></i>
                                </button>
                                <button class="primary-btn button pisol_single_buy_now pisol_buy_now_button pisol_type_simple"
                                        type="submit" name="pi_quick_checkout" value="870">Buy Now
                                </button>
                            </div>
                    </div>
                </div>
                     </form>
                <hr>
                <p class="product-description">
                    <span class="short-description">{{ product.description|truncatewords:30 }}</span>
                    <span class="full-description" style="display: none;">{{ product.description }}</span>
                    <span class="show-more">... Read more</span>
                    <span class="show-less" style="display: none;">Read less</span>
                </p>
            </div>
        </div>
    </div>


</div>
</div>
<!-- End Product Detail Section -->
{% endblock %}
